# Editor / OS junk
.idea/
.DS_Store
__MACOSX/

# Python artifacts
__pycache__/
*.pyc
.pytest_cache/

# Local databases
*.db

# Virtualenvs
.venv/
env/

# Secrets
.env
secrets/

# Frontend
node_modules/
dist/
.npm/
